
.qs-container {
  max-width: 1200px;
  padding: 2.5rem;
  background-color: rgba(87, 87, 87, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(105, 105, 105, 0.1);
  text-align: center;
  color: #ccc;
  margin-left: 320px;
}

.qs-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #00ffd0;
  text-align: center;
}

.qs-container h2 {
  font-size: 1.8rem;
  color: #00ffd0;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.qs-container p {
  line-height: 1.8;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: #ccc;
  font-size: 1.1rem;
  text-align: justify;
}

.qs-mision,
.qs-equipo {
  margin-top: 2rem;
}

.qs-mision p,
.qs-equipo p {
  text-align: justify;
}

